/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
body {
  font-family: $font-stack;
  font-size: 1.25em;
  counter-reset: number;
}

main {
  padding: 2em 0;

  h1:first-of-type {
    color: $highlight-color;
    text-transform: uppercase;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    border-bottom: 1px dashed $secondary-color;

    &:hover {
      border-bottom-style: solid;
    }
  }

  ul {

    li:before {
      content: '\2192';
      color: $secondary-color;
      margin-right: .5em;
    }
  }

  ol {

    li:before {
      counter-increment: number;
      content: counter(number);
      color: $secondary-color;
      margin-right: .5em;
    }
  }

  li {
    text-indent: -1.5em;
    padding-left: 1.5em;
    margin-bottom: .5em;
  }
}

h1, h2, h3, h4 {
  line-height: 1;
}

h2 {
  margin-bottom: .25em;
}

.list-intro + ul,
.list-intro + ol {
  margin-top: -1em;
}

a:hover, a:active {

}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

blockquote {
  font-size: 1.25em;
  font-style: italic;
  padding: 0 1em;
  border-left: 4px solid $secondary-color;
}

img {
  width: 100%;
  margin-bottom: 1em;

  @include brk-small {
    width: auto;
    max-width: 100%;
  }
}

iframe {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.container {
  @include container;
  padding: 0 .5em;

  @include brk-large {
    padding: 0;
  }
}