/* ===========================================================================
==== PRIMARY INTERIOR PAGE STYLES
============================================================================== */

/* Frequently Asked Questions
-------------------------------------------------------------------*/
.faq__list {

}

.faq__term {
  font-weight: bold;
}

.faq__definition {
  margin-bottom: 2em;
  margin-left: 0;
}